<a href="https://www.kaggle.com/code/ganeshmohane/pandas-all-methods?scriptVersionId=255446858" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

## Its derived from panel data means tabular data set, pandas is used for data cleaning, processing and analysis purpose and its fast

In [1]:
import pandas as pd

In [6]:
# Create DataFrame

StudentData = {
    'Id': [ 1, 2, 3 ],
    'Name':['Ganesh', 'Manesh', 'Suresh']
}

df = pd.DataFrame(StudentData)
df.head()

# OR

df = pd.DataFrame({
    'id': [1, 2, 3],
    'Name': ['Ganesh', 'Manesh', 'Suresh']
})
df.tail()

   id    Name
0   1  Ganesh
1   2  Manesh
2   3  Suresh