<a href="https://www.kaggle.com/code/ganeshmohane/pandas-all-methods?scriptVersionId=255502496" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

## Pandas: Its derived from panel data means tabular data set, pandas is used for data cleaning, processing and analysis purpose and its fast

In [1]:
import pandas as pd

## Create DataFrame

In [2]:
# Create DataFrame

StudentData = {
    'Id': [ 1, 2, 3 ],
    'Name':['Ganesh', 'Manesh', 'Suresh']
}

df = pd.DataFrame(StudentData)
df.head()

# OR

df = pd.DataFrame({
    'id': [1, 2, 3],
    'Name': ['Ganesh', 'Manesh', 'Suresh']
})
df.tail()

   id    Name
0   1  Ganesh
1   2  Manesh
2   3  Suresh

## Explore dataset

In [3]:
df.head()

   id    Name
0   1  Ganesh
1   2  Manesh
2   3  Suresh

In [4]:
df.tail()

   id    Name
0   1  Ganesh
1   2  Manesh
2   3  Suresh

In [5]:
df.describe()

        id
count  3.0
mean   2.0
std    1.0
min    1.0
25%    1.5
50%    2.0
75%    2.5
max    3.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   Name    3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [7]:
df.columns

Index(['id', 'Name'], dtype='object')

In [8]:
df.Name.describe() # we can use describe for particular cols as well

count          3
unique         3
top       Ganesh
freq           1
Name: Name, dtype: object